.btn {
    cursor: pointer;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    width: 150px;
    border-radius: 8px;
}
.btn:hover{
    background-color: rgb(158, 158, 158);
}
/* CreateUser.css */
.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1; /* Ensure the overlay is above other content */
  }

h2 {
    padding-bottom: 20px;
  }
  
  .modal {
    color: black !important;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 3; /* Ensure the modal is above the overlay */
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    color: white !important;
    height: 25px;
    width: 25px;
    border-radius: 5px;
  }

  .close-button:hover{
    background-color: rgb(44, 44, 44);
  }

  label{
    float: left;
  }

  input{
    float: right;
    width: 200px;
  }

  .input{
    padding: 5px;
  }
  
  /* Center modal content vertically and horizontally */
  .modal h2,
  .modal p {
    margin: 0;
    text-align: center;
  }
  